@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Ocultar scrollbar para Chrome, Safari y Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Ocultar scrollbar para IE, Edge y Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-gray-900;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}